CookieBaker_AI.json
{
  "name": "CookieBaker-AI",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "290bd9ba-fbfa-4ab4-ab33-0cc2e7ad5635",
              "leftValue": "={{ $json.query.media }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "55057540-6a36-47f1-ae9e-d5ba5f0e7cf3",
      "name": "If media URL",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        520,
        560
      ]
    },
    {
      "parameters": {
        "command": "echo \"test\""
      },
      "id": "44ef36b8-5cca-42d8-ae97-6a33bf9d979e",
      "name": "Media tokenization layer",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        800,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "00d4c97b-7ade-4ef7-a2c6-3bf8437a2da9",
              "leftValue": "={{ $json.query.sfw }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "733ff2af-6324-4c6b-a613-c5c1f804e2cc",
      "name": "SFW/NSFW",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        580
      ]
    },
    {
      "parameters": {},
      "id": "da8d17cf-3e76-4fdd-a3eb-3f3a4b7684f2",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        120,
        100
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "cd31de80-32f4-4286-9351-6bfb15184bfc",
      "name": "Log error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        580,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "1HXosNollNYXWPfJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "80c00307-5e47-41c9-bf00-e156cc24692c",
      "name": "Log extracted text",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        980,
        260
      ],
      "credentials": {
        "postgres": {
          "id": "1HXosNollNYXWPfJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "path": "logs/error",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "02148f93-2a3e-4705-9104-1633eb4033b8",
      "name": "/logs/error",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        120,
        1380
      ],
      "webhookId": "9ca8a9d9-1d4f-41c2-86e4-9a1e43e22f55",
      "notesInFlow": false
    },
    {
      "parameters": {
        "path": "logs/metadata",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "117335c4-d026-4a62-a410-6bbc5e2e8e4b",
      "name": "/logs/metadata",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        120,
        1560
      ],
      "webhookId": "9ca8a9d9-1d4f-41c2-86e4-9a1e43e22f55",
      "notesInFlow": false
    },
    {
      "parameters": {
        "path": "logs/media",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f660ff96-832a-41dc-bebc-25a33b01f833",
      "name": "/logs/media",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        120,
        1740
      ],
      "webhookId": "9ca8a9d9-1d4f-41c2-86e4-9a1e43e22f55",
      "notesInFlow": false
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST",
          "PUT",
          "GET"
        ],
        "path": "commands",
        "options": {}
      },
      "id": "dd1a4999-58a4-4043-8e3e-c21259d466ca",
      "name": "/commands",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        120,
        980
      ],
      "webhookId": "6b67c935-685a-4fe3-aa4d-9fc7adbda00f"
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {}
      },
      "id": "d81d1396-633c-4de7-8cdf-a4e40b5ca09f",
      "name": "Respond to Webhook3",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        640,
        1380
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {}
      },
      "id": "c376c7ea-8396-4e64-8a53-93dec38c1143",
      "name": "Respond to Webhook4",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        640,
        1560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {}
      },
      "id": "b7a2b3c9-aec4-40ab-a7e0-1d11bc79c93d",
      "name": "Respond to Webhook5",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        640,
        1740
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {}
      },
      "id": "716f323c-ed9b-403c-86a0-4c4e70492952",
      "name": "Respond to Webhook6",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        640,
        1920
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {}
      },
      "id": "49cf696a-da73-42ab-98d7-626b0afbecf2",
      "name": "Respond to Webhook9",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        640,
        980
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {}
      },
      "id": "dd754e49-8a33-455f-8170-b437b1249332",
      "name": "Respond to Webhook10",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        360,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {}
      },
      "id": "9f1fd43a-1d7c-4d89-a1c5-f59a7881ce5c",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2040,
        500
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1dfb9a89-ef68-448e-80d6-5d0994c70050",
      "name": "SFW responder",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1460,
        520
      ],
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e076bb2e-8165-4ca6-a20d-19787b4745a6",
      "name": "NSFW Responder",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1460,
        860
      ],
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "contextWindowLength": 10
      },
      "id": "fb8cff9c-7b65-43ee-b68a-49cdb6d5d6e5",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        1800,
        840
      ],
      "credentials": {
        "postgres": {
          "id": "1HXosNollNYXWPfJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "74c83782-a191-4dbe-be86-b72408306e91",
      "name": "SerpAPI",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        2040,
        840
      ],
      "credentials": {
        "serpApi": {
          "id": "XOWma2xUsEl30feb",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "path": "logs/responses",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "90264f2a-82f4-487e-a8fc-e16e73be23a9",
      "name": "/logs/chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        120,
        1920
      ],
      "webhookId": "9ca8a9d9-1d4f-41c2-86e4-9a1e43e22f55",
      "notesInFlow": false
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "ab36d84b-be7f-4606-bd12-edd5ed1afb49",
      "name": "get chat logs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        360,
        1920
      ],
      "credentials": {
        "postgres": {
          "id": "1HXosNollNYXWPfJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "2746616a-d43d-4285-952b-ca08a72520b8",
      "name": "get media logs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        360,
        1740
      ],
      "credentials": {
        "postgres": {
          "id": "1HXosNollNYXWPfJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "b64f4252-d987-4fb8-a14c-6365c72b39be",
      "name": "get metadata logs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        360,
        1560
      ],
      "credentials": {
        "postgres": {
          "id": "1HXosNollNYXWPfJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "dff61f07-56aa-4a64-9f9f-081e1d359a46",
      "name": "get error logs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        360,
        1380
      ],
      "credentials": {
        "postgres": {
          "id": "1HXosNollNYXWPfJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "c0ca0a88-2f57-4f48-af8d-6c11c80732d3",
      "name": "get available commands",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        360,
        1140
      ],
      "credentials": {
        "postgres": {
          "id": "1HXosNollNYXWPfJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "c6851f5a-6851-4bba-8e01-446f4a7da099",
      "name": "update available commands",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        360,
        980
      ],
      "credentials": {
        "postgres": {
          "id": "1HXosNollNYXWPfJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "bac2eeef-2cec-4b7d-ab5d-4b5542894394",
      "name": "create available commands",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        360,
        820
      ],
      "credentials": {
        "postgres": {
          "id": "1HXosNollNYXWPfJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "27dd930a-fdaa-4bda-9f52-7e592c64c26e",
      "name": "Update prompt end",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        980,
        420
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b7f6b84c-5b61-4d31-9b37-ca6ddfca8f2a",
      "name": "Update prompt beginning",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        560
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "18419240-ad7e-434d-bf01-f2c36cc1b15e",
      "name": "Response layer NSFW",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1440,
        700
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "88139251-cc17-40b3-8748-7fbf3a018886",
      "name": "Response layer SFW",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1440,
        360
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "8537afb3-8ee2-4b92-ab1f-448035ab6b50",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        2040,
        280
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "0c9d3913-a4ad-43cb-a122-f32b0f450b5f",
      "name": "Get Available Commands",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2280,
        280
      ],
      "credentials": {
        "postgres": {
          "id": "1HXosNollNYXWPfJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "id": "8fe22ee0-3aac-436b-8da5-a91fcdd5c6a4",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2500,
        280
      ]
    },
    {
      "parameters": {
        "name": "get_commands",
        "workflowId": {
          "__rl": true,
          "value": "mywj1XM6RPnWoVNB",
          "mode": "list",
          "cachedResultName": "CookieBaker-AI"
        }
      },
      "id": "ea1521b8-05c5-4309-b2fb-d2b958c0776f",
      "name": "Get Commands",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1940,
        840
      ]
    },
    {
      "parameters": {
        "path": "response",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "aa62f0de-5eea-4a90-b9e1-bcdf11b41741",
      "name": "/response",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        120,
        560
      ],
      "webhookId": "9ca8a9d9-1d4f-41c2-86e4-9a1e43e22f55",
      "notesInFlow": false
    }
  ],
  "pinData": {
    "/logs/error": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "python-requests/2.32.3",
            "accept-encoding": "gzip, deflate",
            "accept": "*/*",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {
            "sfw": "True",
            "chat_title": "Test Chat",
            "chat_description": "This is a test chat description",
            "prompt": "Test prompt for chatbot",
            "sender_name": "Test User",
            "sender_isadmin": "False",
            "media": ""
          },
          "body": {},
          "webhookUrl": "http://localhost:5678/webhook-test/response",
          "executionMode": "test"
        }
      }
    ],
    "/logs/metadata": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "python-requests/2.32.3",
            "accept-encoding": "gzip, deflate",
            "accept": "*/*",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {
            "sfw": "True",
            "chat_title": "Test Chat",
            "chat_description": "This is a test chat description",
            "prompt": "Test prompt for chatbot",
            "sender_name": "Test User",
            "sender_isadmin": "False",
            "media": ""
          },
          "body": {},
          "webhookUrl": "http://localhost:5678/webhook-test/response",
          "executionMode": "test"
        }
      }
    ],
    "/logs/media": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "python-requests/2.32.3",
            "accept-encoding": "gzip, deflate",
            "accept": "*/*",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {
            "sfw": "True",
            "chat_title": "Test Chat",
            "chat_description": "This is a test chat description",
            "prompt": "Test prompt for chatbot",
            "sender_name": "Test User",
            "sender_isadmin": "False",
            "media": ""
          },
          "body": {},
          "webhookUrl": "http://localhost:5678/webhook-test/response",
          "executionMode": "test"
        }
      }
    ],
    "/logs/chat": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "python-requests/2.32.3",
            "accept-encoding": "gzip, deflate",
            "accept": "*/*",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {
            "sfw": "True",
            "chat_title": "Test Chat",
            "chat_description": "This is a test chat description",
            "prompt": "Test prompt for chatbot",
            "sender_name": "Test User",
            "sender_isadmin": "False",
            "media": ""
          },
          "body": {},
          "webhookUrl": "http://localhost:5678/webhook-test/response",
          "executionMode": "test"
        }
      }
    ],
    "/response": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "python-requests/2.32.3",
            "accept-encoding": "gzip, deflate",
            "accept": "*/*",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {
            "sfw": "True",
            "chat_title": "Test Chat",
            "chat_description": "This is a test chat description",
            "prompt": "Test prompt for chatbot",
            "sender_name": "Test User",
            "sender_isadmin": "False",
            "media": ""
          },
          "body": {},
          "webhookUrl": "http://localhost:5678/webhook-test/response",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "If media URL": {
      "main": [
        [
          {
            "node": "Media tokenization layer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SFW/NSFW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Media tokenization layer": {
      "main": [
        [
          {
            "node": "Update prompt end",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log extracted text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SFW/NSFW": {
      "main": [
        [
          {
            "node": "Response layer SFW",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response layer NSFW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Respond to Webhook10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/logs/error": {
      "main": [
        [
          {
            "node": "get error logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/logs/metadata": {
      "main": [
        [
          {
            "node": "get metadata logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/logs/media": {
      "main": [
        [
          {
            "node": "get media logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/commands": {
      "main": [
        [
          {
            "node": "create available commands",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update available commands",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get available commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SFW responder": {
      "ai_languageModel": [
        [
          {
            "node": "Response layer SFW",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "NSFW Responder": {
      "ai_languageModel": [
        [
          {
            "node": "Response layer NSFW",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Response layer SFW",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Response layer NSFW",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Response layer SFW",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Response layer NSFW",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook10": {
      "main": [
        [
          {
            "node": "Log error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/logs/chat": {
      "main": [
        [
          {
            "node": "get chat logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get chat logs": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get media logs": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get metadata logs": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get error logs": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get available commands": {
      "main": [
        [
          {
            "node": "Respond to Webhook9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update available commands": {
      "main": [
        [
          {
            "node": "Respond to Webhook9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create available commands": {
      "main": [
        [
          {
            "node": "Respond to Webhook9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update prompt beginning": {
      "main": [
        [
          {
            "node": "If media URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update prompt end": {
      "main": [
        [
          {
            "node": "SFW/NSFW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response layer NSFW": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response layer SFW": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Available Commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Available Commands": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commands": {
      "ai_tool": [
        [
          {
            "node": "Response layer SFW",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Response layer NSFW",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "/response": {
      "main": [
        [
          {
            "node": "Update prompt beginning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 300,
    "errorWorkflow": "mywj1XM6RPnWoVNB",
    "saveDataErrorExecution": "none",
    "saveDataSuccessExecution": "none"
  },
  "versionId": "0aaffb9c-a7f6-455a-84ca-6ef7bcd863cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "mywj1XM6RPnWoVNB",
  "tags": []
}